<!-- Bootstrap core JavaScript-->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--<script src="{{ site.baseurl }}/js/jquery-1.10.2.min.js"></script>-->
<!--<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>-->
<!-- <script src="{{ site.baseurl }}/js/hc.js"></script> -->
