<div class="sidebar">
  <div class="sidebar container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead"><b>{{ site.name }}</b></p>
    </div>

    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <!-- {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }} {{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %} -->
      <a class="sidebar-nav-item" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/research.html">Research</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/outreach.html">Outreach</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/music.html">Music</a>
      <!-- <a class="sidebar-nav-item" href="{{ site.baseurl }}/about.html">About</a> -->
      <!-- <a class="sidebar-nav-item" href="{{ site.baseurl }}/outreach.html">Outreach</a> -->


      <span class="sidebar-nav-item-big"><b>Social Media</b></span>

      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/molly-mcdermott-4b964b107/">LinkedIn</a>
      <a class="sidebar-nav-item" href="https://www.researchgate.net/profile/Molly_Mcdermott2/info">Research Gate</a>

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
