<!DOCTYPE html>
<html lang="en-us">

  {% include header.html %}

  <body class="theme-base-0d">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
