---
layout: default
---
<div class="project-container">
  <h1>Music Projects</h1>
  <p>I sing and play cello, piano, and mandolin. I've toured Europe and the US as part of several bands and as a solo musician. I've released 3 full-length albums and 2 EPs as a member of the bands listed below. </p>
</div>

<div class="container">
  <div class="row">
    <div class="project-box">
      <div class="col-md-3 project-image">
        <img src="{{ site.baseurl }}/images/DSC_9227_resize.png">
      </div>
      <div class="col-md-9">
        <h2>
          <a target="blank" href="http://www.harmalaska.com">HARM</a>
        </h2>
        <h4>
          psych-folk
        </h4>
        <div class="post">
          Blending psych-folk and hip-hop with classical themes Harm defies genre. Harm utilizes harmonium, banjo, bass, cello, clarinet, guitar, beat boxing and three-part harmonies to explore themes of violence, gender and sexuality.
          <br>
          <blockquote>
              <a target="blank" href="https://www.adn.com/arts/music/2017/07/27/at-a-crossroads-fairbanks-band-harm-releases-new-body-of-work/">Anchorage Daily News Album Review</a>
              <br>
              <a target="blank" href="http://www.anchoragepress.com/news/interrogation-harm/article_f79ca4ca-cc66-55f9-bf41-6a163289f4ed.html">Anchorage Press Interview</a>
              <br>
              <a target="blank" href="http://www.newsminer.com/features/latitude_65/fairbanks-band-harm-making-its-mark-in-a-socially-conscious/article_a073bff0-9f1e-11e5-a29a-731fa08b81ec.html">Fairbanks News Miner Article</a>
              <br>
              <a target="blank" href="http://www.anchoragepress.com/news/anchorage-press-basement-tapes---harm/article_240f4ca8-cb42-50ea-9668-cbd0dd9a6440.html">Anchorage Press Basement Tapes</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project-box">
      <div class="col-md-3 project-image">
        <img src="{{ site.baseurl }}/images/Evan-Molly-Out-North.jpg">
      </div>
      <div class="col-md-9">
        <h2>
          <a target="blank" href="http://evanandmolly.bandcamp.com/releases">Evan & Molly</a>
        </h2>
        <h4>
          folk
        </h4>
        <div class="post">
         A collaboration between two singer-songwriters with a keen interest in folk and experimental music, and a mutual love for their home, Alaska.
         <br>
          <blockquote>
              <a target="blank" href="http://www.anchoragepress.com/news/interrogation-evan-molly/article_ba6a3826-86ab-5d5c-9c36-c08fe8e36cd0.html">Anchorage Press Interview</a>
            </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="row"> <!-- Make new row -->
    <div class="project-box">  <!-- Create the box around the item -->
      <div class="col-md-3 project-image">  <!-- Set up the styling for the Image -->
        <img src="{{ site.baseurl }}/images/Basement.jpg">  <!-- Link to the Image -->
      </div>
      <div class="col-md-9">  <!-- This is the place for the text -->
        <h2>
          <a target="blank" href="http://kurvachoir.bandcamp.com/album/understory">Kurva Choir</a>  <!-- Main Name for project (and link) -->
        </h2>
        <h4>
          experimental / orchestral  <!-- What is the Genre? -->
        </h4>
        <!-- Description of the project -->
        <div class="post">
          Kurva Choir is an intimate, improvised chamber orchestra based on the principle of intense listening and radical intimacy through music.
         <br>
          <blockquote>
              <a target="blank" href="http://www.anchoragepress.com/news/kurva-ball/article_1bc0e3bf-bd27-5965-b7e3-cb1774716edd.html">Anchorage Press Interview</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>


