---
layout: default
---
<div class="container">
  <div class="row">
    <div class="text-center page-image-wrapper container-fluid">
      <img src="{{ site.baseurl }}/images/{{ page.img }}" class="">
    </div>
    <div class="row">
      <div class="container-fluid text-center">
        <h1 class="page-title">{{ page.friendlyTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="row">
      {{ content }}
  </div>
</div>
